

.hero-image {
    background-image: url("../images/sleepy-little-girl-02.png"); 
    background-color: #cccccc; 
    height: 1080px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
  }
.text-box {
  width: 800px;
  }


  h1 {
    font-family: 'Vollkorn', serif;
    font-size: 46px;
    color: #4966B2;
    padding: 100px 50px 5px 50px;

  }

  p{
    font-family: 'Varela', sans-serif; 
    font-size: 20px; 
    width: 680px;
    padding: 10px 50px 10px 50px;
  }

  button {
        width: 180px;
        background-color: orange;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        /* display: inline-block; */
        font-size: 20px;
        font-family: 'Varela', sans-serif;
        margin: 40px 50px 50px 50px;

      }
  }