body {
    margin: 0;
    padding: 0;
    border: 0;
    /* text-align: center; */
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

#score-board {
    padding: 40px;
    text-align: left;
    background-color:#9e9e9ead;
    color: white;
    width: 400px;
}

#first-life-bar-element{
    margin: 5px 5px 5px 0px;
}
.life-bar-element {
    width: 15px;
    height: 7px;
    background-color: orchid;
    margin: 2.5px;
    display: inline-block;
}